<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.supermap.com.cn/desktop" name="DesktopPluginMSARPro" author="DesktopPluginMSARPro" url="www.supermap.com.cn" description="DesktopPluginMSARPro Plugin" helpLocalRoot="" helpOnlineRoot="">
  <runtime assemblyName="./Plugins/DesktopPluginMSARPro/DesktopPluginMSARPro.dll" className="DesktopPluginMSARPro.DesktopPlugin" loadOrder="2000" enabled="True" />
  <!--Ribbon上自定义各种控件-->
  <toolbox>
    <ribbon>
      <tabs>
        <tab index="2000" id="myTab" label="影像处理" formClass="" visible="">
          <group index="0" label="数据集管理" id="RibbonGroup" visible="true" image="">
            <button index="1" label="导入影像" visible="" checkState="" assemblyName="./Plugins/DesktopPluginMSARPro/DesktopPluginMSARPro.dll" onAction="DesktopPluginMSARPro.LoadImageCtrlAction" style="" image="../Resources/RegisterTemplate/Button.png" size="large" screenTip="Show MessageBox!" helpURL="./Plugins/DesktopPluginMSARPro/Helps/ShowMessage.htm" screenTipImage="./Plugins/DesktopPluginMSARPro/Resources/ScreenTipImage/MessageButtonTip.png" shortcutKey="Ctrl+T" />
          </group>
          <group index="1" id="DesktopPluginMSARPro" label="DesktopPluginMSARPro" layoutStyle="vertical" visible="">
            <button index="1" label="Button" visible="" checkState="" assemblyName="./Plugins/DesktopPluginMSARPro/DesktopPluginMSARPro.dll" onAction="DesktopPluginMSARPro.MyCtrlAction" style="" image="../Resources/RegisterTemplate/Button.png" size="large" screenTip="Show MessageBox!" helpURL="./Plugins/DesktopPluginMSARPro/Helps/ShowMessage.htm" screenTipImage="./Plugins/DesktopPluginMSARPro/Resources/ScreenTipImage/MessageButtonTip.png" shortcutKey="Ctrl+T" />
            <buttonDropdown index="2" id="ButtonDropDown" label="ButtonDropDown" visible="true" checkState="false" assemblyName="./Plugins/DesktopPluginMSARPro/DesktopPluginMSARPro.dll" onAction="DesktopPluginMSARPro.MyCtrlAction" style="imageandtext" image="../Resources/RegisterTemplate/Button.png" size="large" screenTip="">
              <subItems>
                <button index="0" label="Button1" visible="true" checkState="false" assemblyName="./Plugins/DesktopPluginMSARPro/DesktopPluginMSARPro.dll" onAction="DesktopPluginMSARPro.MyCtrlAction" style="imageandtext" image="" size="normal" screenTip="" />
                <button index="1" label="Button2" visible="true" checkState="false" assemblyName="./Plugins/DesktopPluginMSARPro/DesktopPluginMSARPro.dll" onAction="DesktopPluginMSARPro.MyCtrlAction" style="imageandtext" image="" size="normal" screenTip="" />
                <separator id="Separator" index="2" />
                <button index="3" label="Button3" visible="true" checkState="false" assemblyName="./Plugins/DesktopPluginMSARPro/DesktopPluginMSARPro.dll" onAction="DesktopPluginMSARPro.MyCtrlAction" style="imageandtext" image="" size="normal" screenTip="" />
                <button index="4" label="Button4" visible="true" checkState="false" assemblyName="./Plugins/DesktopPluginMSARPro/DesktopPluginMSARPro.dll" onAction="DesktopPluginMSARPro.MyCtrlAction" style="imageandtext" image="" size="normal" screenTip="" />
              </subItems>
            </buttonDropdown>
            <separator id="Separator" index="3" />
            <colorButton index="4" label="ColorButton1" visible="true" checkState="false" assemblyName="./Plugins/DesktopPluginMSARPro/DesktopPluginMSARPro.dll" onAction="DesktopPluginMSARPro.MyCtrlActionColorButton" style="imageandtext" image="" size="normal" screenTip="" />
            <colorButton index="5" label="ColorButton2" visible="true" checkState="false" assemblyName="./Plugins/DesktopPluginMSARPro/DesktopPluginMSARPro.dll" onAction="DesktopPluginMSARPro.MyCtrlActionColorButton" style="imageandtext" image="" size="normal" screenTip="" />
            <separator id="Separator1" index="6" />
            <checkBox index="7" label="CheckBox1" visible="true" checkState="false" assemblyName="./Plugins/DesktopPluginMSARPro/DesktopPluginMSARPro.dll" onAction="DesktopPluginMSARPro.MyCtrlActionCheckBox" width="" screenTip="" />
            <checkBox index="8" label="CheckBox2" visible="true" checkState="false" assemblyName="./Plugins/DesktopPluginMSARPro/DesktopPluginMSARPro.dll" onAction="DesktopPluginMSARPro.MyCtrlActionCheckBox" width="" screenTip="" />
            <dialogBoxLauncher visible="true" assemblyName="./Plugins/DesktopPluginMSARPro/DesktopPluginMSARPro.dll" onAction="DesktopPluginMSARPro.MyCtrlAction" id="" index="0" />
            <separator id="Separator2" index="9" />
            <box index="10" id="ItemBox" visible="true" layoutStyle="horizontal" screenTip="" label="ItemBox">
              <label index="0" label="Label1:" visible="true" screenTip="" />
              <textBox index="1" label="" visible="true" assemblyName="./Plugins/DesktopPluginMSARPro/DesktopPluginMSARPro.dll" onAction="DesktopPluginMSARPro.MyCtrlActionTextBox" width="80" readOnly="false" screenTip="" />
            </box>
            <box index="11" id="ItemBox1" visible="true" layoutStyle="horizontal" screenTip="" label="ItemBox_1">
              <label index="0" label="Label2:" visible="true" screenTip="" />
              <comboBox index="1" label="" id="ComboBox" visible="true" assemblyName="./Plugins/DesktopPluginMSARPro/DesktopPluginMSARPro.dll" onAction="DesktopPluginMSARPro.MyCtrlActionComboBox" width="80" dropDownStyle="dropDownList" screenTip="">
                <item image="" label="ComboBoxItem1" index="0" />
                <item image="" label="ComboBoxItem2" index="1" />
              </comboBox>
            </box>
            <separator id="Separator3" index="12" />
            <box index="13" id="ItemBox2" visible="true" layoutStyle="horizontal" screenTip="">
              <label index="0" label="Label1:" visible="true" screenTip="" />
              <integerUpDown index="1" id="IntegerUpDown" width="80" maxValue="100" minValue="0" upDownStyle="vertical" visible="true" assemblyName="./Plugins/DesktopPluginMSARPro/DesktopPluginMSARPro.dll" onAction="DesktopPluginMSARPro.MyCtrlActionNum" screenTip="" ID="" label="" />
            </box>
            <box index="14" id="ItemBox3" visible="true" layoutStyle="horizontal" screenTip="">
              <label index="0" label="Label2:" visible="true" screenTip="" />
              <integerUpDown index="2" id="IntegerUpDown" width="80" maxValue="100" minValue="0" upDownStyle="horizontal" visible="true" onAction="DesktopPluginMSARPro.MyCtrlActionNum" assemblyName="./Plugins/DesktopPluginMSARPro/DesktopPluginMSARPro.dll" screenTip="" />
            </box>
          </group>
          <group index="2" label="RibbonGroup" id="RibbonGroup" visible="true" image="">
            <gallery index="0" visible="true" id="Gallery" galleryItemWidth="125" galleryMaxColumns="3" style="imageandtext" imagePosition="top">
              <subItems>
                <button index="1" label="Button5" visible="true" checkState="false" assemblyName="./Plugins/DesktopPluginMSARPro/DesktopPluginMSARPro.dll" onAction="DesktopPluginMSARPro.MyCtrlAction" style="imageandtext" image="" size="normal" screenTip="" />
                <button index="2" label="Button6" visible="true" checkState="false" assemblyName="./Plugins/DesktopPluginMSARPro/DesktopPluginMSARPro.dll" onAction="DesktopPluginMSARPro.MyCtrlAction" style="imageandtext" image="" size="normal" screenTip="" />
              </subItems>
              <galleryItems index="0" id="GalleryGroup" label="GalleryGroup" visible="true">
                <buttonGallery index="0" label="ButtonGalleryItem1" visible="true" checkState="false" assemblyName="./Plugins/DesktopPluginMSARPro/DesktopPluginMSARPro.dll" onAction="DesktopPluginMSARPro.MyCtrlAction" image="../Resources/RegisterTemplate/Button.png" screenTip="" />
                <buttonGallery index="1" label="ButtonGalleryItem2" visible="true" checkState="false" assemblyName="./Plugins/DesktopPluginMSARPro/DesktopPluginMSARPro.dll" onAction="DesktopPluginMSARPro.MyCtrlAction" image="../Resources/RegisterTemplate/Button.png" screenTip="" />
                <buttonGallery index="2" label="ButtonGalleryItem3" visible="true" checkState="false" assemblyName="./Plugins/DesktopPluginMSARPro/DesktopPluginMSARPro.dll" onAction="DesktopPluginMSARPro.MyCtrlAction" image="../Resources/RegisterTemplate/Button.png" screenTip="" />
              </galleryItems>
            </gallery>
          </group>
        </tab>
      </tabs>
    </ribbon>
  </toolbox>
  <!--自定义浮动窗口-->
  <dockbar>
    <bar label="DockBar" dockstate="Floating" docksite="left" visible="true" floatingLocation="236,188" size="250,459" control="DesktopPluginMSARPro.MyControl" assemblyName="Plugins\DesktopPluginMSARPro\DesktopPluginMSARPro.dll" autoHide="false" helpURL="" />
  </dockbar>
  <statusbars />
  <!--自定义右键菜单-->
  <contextMenus>
    <contextMenu menuStrip="DesktopPluginMSARPro.MyControl.myContextMenu" index="3" label="myContextMenu">
      <group index="0" id="ContextMenuGroup" label="" visible="true">
        <button index="0" label="ContextMenuButton" visible="true" checkState="false" assemblyName="./Plugins/DesktopPluginMSARPro/DesktopPluginMSARPro.dll" onAction="DesktopPluginMSARPro.MyCtrlAction" style="imageandtext" image="" size="normal" screenTip="" />
        <buttonDropdown index="1" id="ContextMenuDropDown" label="ContextMenuDropDown" visible="true" checkState="false" assemblyName="./Plugins/DesktopPluginMSARPro/DesktopPluginMSARPro.dll" onAction="DesktopPluginMSARPro.MyCtrlAction" style="imageandtext" image="" size="normal" screenTip="">
          <subItems>
            <group index="0" id="ContextMenuGroup" label="" visible="true">
              <button index="0" label="ContextMenuButton1" visible="true" checkState="false" assemblyName="./Plugins/DesktopPluginMSARPro/DesktopPluginMSARPro.dll" onAction="DesktopPluginMSARPro.MyCtrlAction" style="imageandtext" image="" size="normal" screenTip="" />
              <button index="1" label="ContextMenuButton2" visible="true" checkState="false" assemblyName="./Plugins/DesktopPluginMSARPro/DesktopPluginMSARPro.dll" onAction="DesktopPluginMSARPro.MyCtrlAction" style="imageandtext" image="" size="normal" screenTip="" />
            </group>
          </subItems>
        </buttonDropdown>
      </group>
    </contextMenu>
  </contextMenus>
  <processes />
</plugin>